{deps_dir, ["deps"]}.

{deps,  [
        {covertool, ".*", {git, "https://github.com/miranetworks/covertool.git", {branch, "master"}}}
        ]}.

{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}] }.

{cover_enabled, true}.

{plugins, [rebar_covertool]}.

{covertool_eunit, ".eunit/eunit.coverage.xml"}. % Output report file name

{edoc_opts, [{private, false}, {todo, true}, {packages, false}, {new, true}]}.

{erl_opts, [{platform_define, "R14", 'R14_WORKAROUND'}]}.

